@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --global-border: 1px solid black;
}

body {
  /* styling the body */
  background: #e5e5e5;

  /* centering the container */
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

#background-mobile {
  height: 718px;
  width: 375px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0 0 0 70px;
}

#status-bar {
  width: 100%;
  height: 44px;
  background: url(/Pictures/Status-Bar.png);
}

header {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
}

header h2 {
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-left: 24px;
}

header #menu-bar {
  background: url(/Pictures/Union.svg);
  height: 12px;
  width: 18px;
  margin-right: 35px;
}

/* styling content section */
#content {
  height: 587.15px;
  width: 100%;
  background: url(Pictures/header-shapes\ mobile.png);
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  height: 150px;
  width: 327px;
  color: #172b4d;
}

p {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

h3 {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: -3rem;
  top: -1.5rem;
}

/* styling social media icons */
ul li:nth-child(1){
  background: url(Pictures/Social-Media/Twitter.png);
  height: 19.96px;
  width: 19.99px;
}

ul li:nth-child(2){
  background: url(Pictures/Social-Media/Linkedin.png);
  height: 20px;
  width: 20px;
}

ul li:nth-child(3){
  background: url(Pictures/Social-Media/M.png);
  height: 16px;
  width: 20px;
}

ul li:nth-child(4){
  background: url(Pictures/Social-Media/GitHub.png);
  height: 20px;
  width: 17.99px;
}

ul li:nth-child(5){
  background: url(Pictures/Social-Media/Vector.png);
  width: 14.47px;
  height: 20px;
}

.icon {
  margin: 0 10px;
  list-style: none;
  background-repeat: no-repeat;
}
